@use "sass:color";
@use "sass:math";

$blue: #3bbfce;
$margin: 16px;

.content-navigation {
  border-color: $blue;
  color: color.adjust($blue, $lightness: -9%);
}

.border {
  padding: math.div($margin, 2);
  margin: math.div($margin, 2);
  border-color: $blue;
}
