name: Test

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 22
          - 24
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install project
        run: pnpm install --frozen-lockfile

      - name: Build project
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: pnpm build

      - name: Linter test
        run: pnpm lint:check

      - name: Unit test
        run: pnpm test

      - name: Upload coverage
        if: ${{ !cancelled() && github.ref == 'refs/heads/main' && matrix.node-version == '22' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results
        if: ${{ !cancelled() && github.ref == 'refs/heads/main' && matrix.node-version == '22' }}
        uses: codecov/test-results-action@v1
        with:
          file: ./coverage/test-report.junit.xml
          token: ${{ secrets.CODECOV_TOKEN }}
